<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
     
      <div class="form-group">
        <label class="col-md-4">Select Distributors</label>
        <select name="Distributor"
        ng-model="data.Distributor" class="form-control" 
        formControlName="Distributor" 
        #Distributor>
      <option value="ABC">ABC
      </option>
      <option value="PQR">PQR</option>
      <option value="XYZ">XYZ</option>
      </select>   
      </div>
      <div *ngIf="angForm.controls['Distributor'].invalid && (angForm.controls['Distributor'].dirty || angForm.controls['Distributor'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['Distributor'].errors.required">
          distributor is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Select Credit/Cash</label>
        <select name="Credit_Cash"
        ng-model="data.Credit_Cash" class="form-control" 
        formControlName="Credit_Cash" 
        #Credit_Cash>
      <option value="Credit">Credit
      </option>
     
      <option value="Cash">Cash</option>
      </select>   
      </div>
      <div *ngIf="angForm.controls['Credit_Cash'].invalid && (angForm.controls['Credit_Cash'].dirty || angForm.controls['Credit_Cash'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['Credit_Cash'].errors.required">
          Credit_Cash is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Enter Bill Date/Challan Date</label>
        <input type="date" class="form-control" 
          formControlName="Bill_ChallanDate" 
          #Bill_ChallanDate />
      </div>
      <div *ngIf="angForm.controls['Bill_ChallanDate'].invalid && (angForm.controls['Bill_ChallanDate'].dirty || angForm.controls['Bill_ChallanDate'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['Bill_ChallanDate'].errors.required">
          Bill_ChallanDate is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Enter Bill No/Challan No</label>
        <input type="text" class="form-control" 
          formControlName="Bill_ChallanNo" 
          #Bill_ChallanNo />
      </div>
      <div *ngIf="angForm.controls['Bill_ChallanNo'].invalid && (angForm.controls['Bill_ChallanNo'].dirty || angForm.controls['Bill_ChallanNo'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['Bill_ChallanNo'].errors.required">
          Bill_ChallanNo is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Enter Barcode-Master Code</label>
        <select name="Barcode"
        ng-model="data.Barcode" class="form-control" 
        formControlName="Barcode" 
        #Barcode>
      <option value="188-A">188-A</option>
      <option value="163-N">163-N</option>
      <option value="56-P">56-P</option>
      </select> 
      </div>
      <div *ngIf="angForm.controls['Barcode'].invalid && (angForm.controls['Barcode'].dirty || angForm.controls['Barcode'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['Barcode'].errors.required">
          Barcode is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">MRP</label>
        <input type="text" class="form-control" 
          formControlName="MRP" 
          #MRP />
      </div>
      <div *ngIf="angForm.controls['MRP'].invalid && (angForm.controls['MRP'].dirty || angForm.controls['MRP'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['MRP'].errors.required">
          MRP is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Qty</label>
        <input type="number" class="form-control" 
          formControlName="Qty" 
          #Qty />
      </div>
      <div *ngIf="angForm.controls['Qty'].invalid && (angForm.controls['Qty'].dirty || angForm.controls['Qty'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['Qty'].errors.required">
          Qty is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Amount</label>
        <input type="text" class="form-control" 
          formControlName="Amount" 
          #Amount />
      </div>
      <div *ngIf="angForm.controls['Amount'].invalid && (angForm.controls['Amount'].dirty || angForm.controls['Amount'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['Amount'].errors.required">
          Amount is required.
        </div>
      </div>
      <div class="form-group">
        <button (click) = "adduser(Distributor.value,Credit_Cash.value,Bill_ChallanDate.value,Bill_ChallanNo.value,Barcode.value,MRP.value,Qty.value,Amount.value)" type="submit" class="btn btn-primary"
        [disabled]="angForm.pristine || angForm.invalid" >
          Add Staff
        </button>
      </div>
    </form>
  </div>
</div>
     
      
     
      